<template>
  <h1>vue3.0 + TS </h1>
  <todo-input />
  <todo-list
    :todoList="todoList"
  />
</template>

<script lang="ts">
import { computed, defineComponent, onMounted } from 'vue';
import TodoInput from '@/views/TodoInput/index.vue'
import TodoList from '@/views/TodoList/index.vue'
import { IUseTodo, useTodo } from './hooks';
import { Store, useStore } from 'vuex';

export default defineComponent({
  name: 'App',
  components: {
    TodoInput,
    TodoList
  },
  setup () {
    const { setTodoList }: IUseTodo = useTodo()
    const store: Store<any> = useStore()

    onMounted(() => {
      setTodoList()
    })

    return {
      todoList: computed(() => store.state.list)
    }
  }
});
</script>

<style>

</style>
